<div *ngIf="loading" class="text-center p-4">
  Загрузка...
</div>

<div *ngIf="error" class="text-red-500 text-center p-4">
  Ошибка загрузки данных
</div>

<div class="flex justify-between items-center mb-4">
  <h1 class="text-3xl font-semibold">Проекты</h1>
  <input
    type="text"
    placeholder="Поиск..."
    class="border rounded px-3 py-2"
    id="search-project"
    [(ngModel)]="searchName"
    (keyup.enter)="getSearchProjects()"
  >
</div>

<table class="tbl" *ngIf="!error">
  <thead>
  <tr>
    <th class="th1">Название</th>
    <th class="th2">URL</th>
    <th class="th3">Действие</th>
  </tr>
  </thead>
</table>

<app-project *ngFor="let project of projects | paginate: {
                                        itemsPerPage: 10,
                                        currentPage: pageInfo.currentPage,
                                        totalItems: pageInfo.projectsCount
                                        }"
             [project]= "project">
</app-project>
<br>
<pagination-controls
  *ngIf="!error"
  (pageChange)="gty((pageInfo.currentPage = $event))">
</pagination-controls>
